@charset "UTF-8";
.menu-nav{
    width: 8rem;
    height: 100%;
    overflow-y: auto;
    background-color: #f8f8f8;
    padding-bottom: 50px;
    li {
	    position: relative;
	    padding: 2rem 0.6rem;
	    border-bottom: 1px solid #ededed;
	    font-size: 1.4rem;
	    color: #666;
	}
	li.active {
	    background-color: #fff;
	    border-right-color: #fff;
	    font-weight: bolder;
	}
	li.noicon .category-name {
	    line-height: 1.2em;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	}
	li.active:after {
	    content: "";
	    position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    width: 2px;
	    background-color: #3190e8;
	}
}
.menuview img {
    max-width: 100%;
}
.category-icon {
    width: 1.24rem;
    height: 1.333333rem;
}