@charset "UTF-8";
.shopheader {
    position: relative;
    height: 110px;
    color: #fff;
    font-size: .293333rem;
    // transition: height .2s ease-in;
}
.shopheader-background {
    position: fixed;
    width: 100%;
    height: 220px;
    background-image: url('../../../img/head_bg.png');
    background-color: #3190e8;
    background-size: cover;
    background-repeat: no-repeat;
}
.shopheader-background:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(119,103,137,.43);
}
.shopheader-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    position: fixed;
    top: 10px;
    width: 100%;
    will-change: opacity;
}
.shopheader-logo {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 6px;
    margin: 0 1.266667rem 0 1.466667rem;
}
.shopheader-name {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shopheader-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    width: 0;
    height: 100%;
    padding-right: .133333rem;
}
.shopheader-servercontent{
    white-space: nowrap;
    height: 1.666667rem;
    line-height: 1.72rem;
}
.shopheader-server {
    line-height: 1.32rem;
}
.shopheader-server:not(:last-child):after {
    content: ' / ';
    opacity: .5;
}
.shopheader-activities {
    position: relative;
    padding-right: 1.6rem;
    padding-top: .5rem;
}
.shopheader-activities li {
    margin-bottom: 1.2rem;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.activity-wrap {
    line-height: 1.426667rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.activity-icon {
    margin-right: .133333rem;
    font-size: 1rem;
    font-style: normal;
    line-height: 1rem;
    height: 1.3rem;
    padding: .08rem;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid;
    border-radius: .08rem;
}
.activity-wrap.wrap .activity-icon {
    margin-top: .04rem;
}
.activity-description {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    width: 0;
}
.shopheader-notice {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 .533333rem 0 .266667rem;
    height: 1.733333rem;
    line-height: 1.733333rem;
    background-color: rgba(0,0,0,.15);
    color: hsla(0,0%,100%,.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shopheader-notice:before {
    content: '\516C\544A';
    display: inline-block;
    padding: 0 .053333rem;
    height: 1.346667rem;
    line-height: 1.373333rem;
    background-color: hsla(0,0%,100%,.8);
    color: #666;
    border-radius: .053333rem;
    margin-right: 1.133333rem;
}






















