@charset "UTF-8";
.shoplist {
    background-color: #fff;
}
.item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.4rem 1.266667rem;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    color: #666;
    list-style: none;
    font-size: 1.293333rem;
}
.left-wrap {
    position: relative;
    margin-right: 1.266667rem;
    width: 8rem;
    height: 8rem;
}
.logo {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .053333rem;
}
.line, .right-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.right-wrap {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-around
}
.line {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.shopname {
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 20rem;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.426667rem;
}
.shopname.premium:before {
    margin-right: 1.133333rem;
    padding: .166667rem;
    height: 1.5rem;
    border-radius: .153333rem;
    background-color: #ffd930;
    color: #52250a;
    content: "品牌";
    vertical-align: top;
    text-align: center;
    font-weight: 700;
    font-size: 1.293333rem;
    line-height: 1.5rem;
}
.activities, .support-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.support-wrap {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.moneylimit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
}
















