@charset "UTF-8";

.menu-list {
    display: block;
    width: 78%;
    padding-bottom: 30px;
    position: absolute;
    height: 100%;
    overflow: hidden;
    min-height: 100%;
    top: 0;
    left: 22%;
}
.scroller {
    position: absolute;
    -webkit-overflow-scrolling: touch;
    width: 100%;
	dt {
	    position: relative;
	    padding: 1.2rem 1.266667rem;
	    background-color: #f1f1f1;
	}
	dd {
	    position: relative;
	    background-color: #fff;
	    margin: 0;
	    padding: 1.4rem 1.266667rem;
	    margin-bottom: 1px;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    min-height: 10rem;
	}
	dd:not(:last-child) {
	    box-shadow: .4rem 1px 0 0 #ddd;
	}
	.foodimg {
	    margin-right: 4%;
	    -webkit-box-flex: 2;
	    -webkit-flex: 2;
	    -ms-flex: 2;
	    flex: 2;
	    display: block;
	    width: 0;
	    vertical-align: top;
	}
	.foodimg img {
	    width: 100%;
	    border-radius: .553333rem;
	    max-width: 100%;
	}
}
.category-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow: hidden;
}
.category-title strong {
    margin-right: 1.133333rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: #666;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}
.category-title span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    width: 0;
    color: #999;
    font-size: 1.266667rem;
    white-space: nowrap;
    overflow: hidden;
}
.category-more .icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4rem;
    background: #f1f1f1 url(../../../img/more.png) center no-repeat;
    background-size: 1.5rem auto;
}
.category-more .popup {
    position: absolute;
    background-color: #39373a;
    opacity: .97;
    // -webkit-transform: scale(1);
    // transform: scale(1);
    // -webkit-transform-origin: top right;
    // transform-origin: top right;
    width: 63%;
    right: 1rem;
    z-index: 3;
    color: #eee;
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: .6rem .8rem;
    // -webkit-transition: all .3s ease;
    // transition: all .3s ease;
    cursor: pointer;
}
.popupin-transition{
	-webkit-transform-origin: top right;
    transform-origin: top right;
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1);
    transform: scale(1);

}
.popupin-leave, .popupin-enter{
	-webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
}
.category-more .popup:before {
    content: "";
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    right: 1.266667rem;
    border: 0.6rem solid transparent;
    border-bottom-color: #39373a;
}
.category-more .popup span:first-child {
    color: #fff;
}
.category-more:after {
    content: "";
    position: absolute;
}
.foodinfo {
    position: relative;
    -webkit-box-flex: 8;
    -webkit-flex: 8;
    -ms-flex: 8;
    flex: 8;
    display: block;
    width: 0;
    padding-bottom: 1.666667rem;
}
.foodtitle {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.1;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.foodtitle span {
    vertical-align: middle;
}
.foodsales {
    margin: 1.173333rem 0;
    color: #666;
    font-size: 1.293333rem;
    line-height: 1;
}
.foodsales span {
    vertical-align: middle;
}
.foodsales>span:not(:first-child) {
    margin-left: 1.106667rem;
    vertical-align: middle;
}
.foodprice {
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.426667rem;
    color: #f60;
}
.foodprice:before {
    font-weight: 400;
    content: '\A5';
    font-size: 1.293333rem;
    display: inline-block;
}
