@charset "UTF-8";

.nav {
    background: #fff;
}
.nav ul li {
    width: 25%;
    text-align: center;
    margin-top: 10px;
    position: relative;
    padding-top: 12%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    -webkit-user-select: none; cursor: pointer;
}
.nav ul li img {
    width: 38%;
    position: absolute;
    top: 0;
    left: 31%;
}
.nav ul li span {
    font-size: 1.4rem;
    display: block;
}