@charset "UTF-8";
.menuview-nodata {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.6rem;
    color: #333;
    background-color: #eee;
    position: relative;
    z-index: 99;
}
.menuview-nodata img {
    width: 40%;
}
.menuview-nodata p {
    padding: 0;
    margin: 0;
    line-height: 3rem;
}



















